* {
  box-sizing: border-box;
}
body {

  font-family: $font-family-sans-serif;
  background-color: white;
  color: $body-color;
}
a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
  color:inherit;
}
.header {
  padding: 10%;
  text-align: center;
  background-color: $background-color;

}
img {
  border-radius: 50%;
  width: 20em;
}
.content {
  margin: 10% 0%;
  padding: 1% 5% 7.5% 5%;
  background-color: $background-color;
}
.content h2, h3 {
  text-align: center;
}
.sublist {
  padding-left: 2em;
  margin: 0;
}
.center {
  text-align: center;
  align-items: center;
}

i {
  color: $icon-color;
}

ul {
  display: inline-block;
  text-align: left;
  list-style-type:none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: $responsiveMaxWidth) {
  body {
    font-size: large;
  }
  h1 {
    font-size: 48px;
    margin-top: 0;
  }
  h2 {
    font-size: 32px;
  }
  img {
    width: 20%;
    height: auto;
  }
 .header {
   padding:5%;
 }

 .expanse ul > li {
   display: inline-block;
   padding-right: 2em;
 }
}
