* {
  box-sizing: border-box;
}

body {

  font-family: $font-family-sans-serif;

  background-color: $uoc-bg;
  color: $uoc-corporate;
}

span{
  font-weight: 700;
}


.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
