@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$body-color: #6A6E69;
$icon-color: #798777;
$background-color: #f8ede3;

$responsiveMaxWidth: 1024px;
$responsiveMedWidth: 768px;