@use "sass:color";

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$body-color: #6a6e69;
$icon-color: #798777;
$background-color: #f8ede3;

$responsiveMaxWidth: 1024px;
$responsiveMedWidth: 768px;
